<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887787832499-hsl5spvotvpoquvadc1ldbe5v753ip0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887787832499-hsl5spvotvpoquvadc1ldbe5v753ip0p</string>
	<key>API_KEY</key>
	<string>AIzaSyCKYZA0-Zi4lWqagY-I2T1b6_b-RLpUyg0</string>
	<key>GCM_SENDER_ID</key>
	<string>887787832499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.useby.useByApp</string>
	<key>PROJECT_ID</key>
	<string>use-by-b6a74</string>
	<key>STORAGE_BUCKET</key>
	<string>use-by-b6a74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887787832499:ios:042af46e347acb0f4c5cc6</string>
	<key>DATABASE_URL</key>
	<string>https://use-by-b6a74.firebaseio.com</string>
</dict>
</plist>